.xpapp-seo-metafields .seo-table {
	margin: 10px;
	background-color: white;
	padding: 10px;
	border: 1px solid #eee;
}
	.xpapp-seo-metafields .seo-table dl {
		margin-top: 8px;
	}
	.xpapp-seo-metafields .seo-table.compact dl {
		overflow: hidden;
	}
	.xpapp-seo-metafields .seo-table.compact dt {
		float: left;
		width: 35%;
	}
	.xpapp-seo-metafields .seo-table.compact dd {
		float: left;
		width: 65%;
	}
	.xpapp-seo-metafields .seo-table dt {
		font-weight: bold;
	}
	.xpapp-seo-metafields .seo-table dt:after {
		content: ":";
	}
	.xpapp-seo-metafields .seo-table dt + dd {
		margin-bottom: 10px;
	}
	.xpapp-seo-metafields .seo-table.compact dd {
		margin-bottom: 4px;
	}
	.xpapp-seo-metafields .seo-table dd img {
		max-width: 100%;
	}
	.xpapp-seo-metafields .seo-table h2 {
		font-size: 20px;
		text-align: center;
		position: relative;
	}
	.xpapp-seo-metafields .seo-table h2::after {
		content: "";
		position: absolute;
		bottom: 2px;
		left: calc(50% - 15px);
		background-color: #00b7ff;
		width: 30px;
		height: 3px;
	}
	.xpapp-seo-metafields .seo-table .warning {
		font-weight: bold;
		color: red;
	}
	.xpapp-seo-metafields .seo-table .center {
		text-align: center;
	}
	.xpapp-seo-metafields .seo-table .message-empty {
		font-style: italic;
		color: #999;
	}
	.xpapp-seo-metafields .seo-info-box {
		padding: 0 12px 6px 12px;
	}
	.xpapp-seo-metafields .seo-info-box strong {
		font-weight: bold;
	}
